
.header-wrapper .navbar {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

    .header-wrapper .navbar .container-fluid {
        justify-content: flex-start;
    }

        .header-wrapper .navbar .container-fluid .title {
            font-size: 1.2em;
            font-family: sans-serif;
            font-weight: bold;
        }

            .header-wrapper .navbar .container-fluid .title > p {
                margin-bottom: 0;
            }

    .header-wrapper .navbar .navbar-brand {
        height: 6.25rem;
    }

        .header-wrapper .navbar .navbar-brand img {
            height: 100%;
            width: auto;
        }

    .header-wrapper .navbar .d-flex {
        align-items: center;
    }

        .header-wrapper .navbar .d-flex input {
            width: 13rem;
            height: 2rem;
            border-radius: 1rem;
        }

        .header-wrapper .navbar .d-flex button {
            position: absolute;
            top: 1.8rem;
            right: .7rem;
        }

            .header-wrapper .navbar .d-flex button img {
                width: 1.5rem;
            }

.header-wrapper .header-bottom {
    display: flex;
    position: sticky;
    top: 0;
    font-family: "Roboto", sans-serif;
    background-color: #363636;
    border-top: 0.4375rem solid #BE0F0F;
}

    .header-wrapper .header-bottom .dropdown .dropbtn {
        background-color: #363636;
        color: white;
        padding: .7rem;
        font-size: 14px;
        border: none;
        border-right: 0.5px solid #555555;
    }

        .header-wrapper .header-bottom .dropdown .dropbtn::after {
            content: url("https://img.icons8.com/ios-glyphs/10/ffffff/chevron-down.png");
            padding-left: 4px;
        }

    .header-wrapper .header-bottom .dropdown:first-child {
        border-left: 0.5px solid #555555;
    }

    .header-wrapper .header-bottom .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #363636;
        min-width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .header-wrapper .header-bottom .dropdown .dropdown-content a {
            font-size: small;
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-bottom: .5px solid #555;
        }

            .header-wrapper .header-bottom .dropdown .dropdown-content a:hover {
                background-color: #387EBF;
            }

    .header-wrapper .header-bottom .dropdown:hover .dropdown-content {
        display: block;
    }

    .header-wrapper .header-bottom .dropdown:hover .dropbtn {
        background-color: #387EBF;
    }
 .slider {
    border-bottom: 4px red solid;
 }


.about-us {
    font-family: "Roboto", sans-serif;
    background-color: #FCF9E2;
}

    .about-us h2 {
        font-size: 1.6em;
        margin-bottom: 2rem;
        letter-spacing: .05em;
    }

    .about-us .title {
        padding-top: 2rem;
    }


    .about-us .about-body {
        display: flex;
        justify-content: space-around;
    }

        .about-us .about-body .about {
            max-width: 16.6666666666666666667%;
            text-align: center;
        }

            .about-us .about-body .about p.name {
                font-size: 1.4rem;
            }

            .about-us .about-body .about p.number {
                font-weight: bold;
                font-size: 2rem;
            }



.events {
    font-family: "Roboto", sans-serif;
    
}
    .event .imagebg {
        background: url(images/bgevent.png)no-repeat;
        background-size: cover   
    }

.video {
    font-family: "Roboto", sans-serif;
}

    .video h2 {
        font-size: 1.6em;
        margin-bottom: 2rem;
        letter-spacing: .05em;
    }

    .video .row {
        max-width: 1260px;
        margin: auto;
        width: 100%;
        padding-bottom: 2rem;
    }



.testimonial {
    font-family: "Roboto", sans-serif;
    background-color: rgb(54, 54, 54);
}

    .testimonial .row {
        max-width: 1260px;
        margin: auto;
        width: 100%;
        padding-bottom: 2rem;
    }

        .testimonial .row h2 {
            color: #f1f1f1;
            font-size: 1.6em;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .testimonial .row .testimonial-body {
            display: flex;
            flex-flow: row wrap;
            margin: 2rem;
        }

            .testimonial .row .testimonial-body .boxholder {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
            }

                .testimonial .row .testimonial-body .boxholder .circle img {
                    max-height: 160px;
                    padding-top: .2em;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                }

                .testimonial .row .testimonial-body .boxholder .description {
                    color: #f1f1f1;
                    font-size: 15px;
                    letter-spacing: 1px;
                    line-height: 25px;
                    margin: 15px;
                }

                .testimonial .row .testimonial-body .boxholder .text {
                    flex: 1 1 0px;
                }

                .testimonial .row .testimonial-body .boxholder blockquote {
                    height: 150px;
                    overflow-y: scroll;                    
                    position: relative;
                    font-size: 1em;
                    margin: 0 0 1.25em;
                    margin-top: 0px;
                    padding: 0 1.25em 0 1.875em;
                    border-left: 2px solid #f1f1f1;                    
                    font-style: italic;
                }

                .testimonial .row .testimonial-body .boxholder strong {
                    font-weight: bolder;
                }

 /* scroll to top */
.top {
    place-self:end;
    position:sticky;
    bottom:50px;
    margin-left:95%;
    margin-top:100vh;
     /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: rgb(210, 21, 21);
    white-space:nowrap;
  }
  p {
    font-size: 25px;
  }
  /* end Scroll To Top Button */               
.footer {
    font-family: "Roboto", sans-serif;
    color: white;
}

    .footer .row {
        padding: 45px 0 30px;
        max-width: 1260px;
        margin: auto;
        width: 100%;
    }

    .foot-part {
        background-color: #BE0F0F;
        width: 100%;
        margin: 0 auto;
        padding: .5rem 2rem .5rem 2rem;
        text-align: center;
    }
    
        .foot-part a {
            text-decoration: none;
        }
    
            .foot-part a span {
                color: white;
                transition: opacity .3s, transform .3s;
            }
    
                .foot-part a span:hover {
                    transform: translateX(5rem);
                }
    
            .foot-part a:not(:hover) img {
                display: none;
            }
